@using Microsoft.AspNet.Identity
@using System.Security.Claims;


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="navbar-collapse collapse">
            <!--collapsing added for small screens here and below in else-->
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active mr-3">
                    <!--class="nav-item active mr-4" added to get logoff the heck away here and for register link below in else-->
                    <!--Dropdown menu attached to name-->
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Html.ActionLink(((ClaimsIdentity)User.Identity).FindFirstValue("Fname") + " " + ((ClaimsIdentity)User.Identity).FindFirstValue("Lname"), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Goes somewhere</a>
                            <a class="dropdown-item" href="#">Goes somewhere else</a>

                            <!--One of the three drop downs should lead to the admin index view-->
                            <!--if user is an admin, then include this link.-->
                            <!--Use the IsInRole method of the RolePrincipal class that performs checks for role membership-->
                            <!--IsInRole will search for the "Admin" role, as specified-->
                            @if(User.IsInRole("Admin"))
                            {
                               <!--Since the admin view is in areas, use "actionname", "controllername", new {area = "areaName"})-->
                                <a class="dropdown-item" href="@Url.Action("Index", "Home", new { area = "Admin"})">Admin Portal</a>
                            }
                            <!-- log off button-->
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        </div>
                    </div>
            </ul>
        </div>
    }
}
else
{
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active mr-4">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    </div>
}
