@model IEnumerable<ScheduleIt2._0.Models.TimeOffEvent>

@{
    ViewBag.Title = "Time Off Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    @* Add ", new ScheduleIt2._0.Models.TimeOffEvent(), because the partial expects an instance of the TimeOffEvent*@
    @Html.Partial("RequestForm", new ScheduleIt2._0.Models.TimeOffEvent())
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EventId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
            </td>
        </tr>
    }
</table>