@using ScheduleIt2._0.Models

@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<br />
<br />

<div class="row" align="center">
    <div class="col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
        <div id="logo" align="center" class="row">
            <img src="~/Images/The-Tech-Academy-Logo.png" class="img-responsive mx-auto" />
        </div>
        
        <section id="loginForm" align="center">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="centerthis">
                    <div class="form-group centerthis">
                        <div class="col-md-offset-1 col-md-10 mx-auto username">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control text-center centerthis", placeholder = "Username" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger centerthis" })
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-md-offset-1 col-md-10 mx-auto uPassword">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control text-center centerthis", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger centerthis" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
               
                <div class="form-group  text-center">
                    <div class="col-md-offset-1 col-md-auto text-center">
                        <input type="submit" value="Log in" class="loginbtn " />
                        <!-- button to open clock in modal-->
                        <button type="button" class="clockinbtn" data-toggle="modal" id="clockIn" data-target="#TimeModal">Clock In</button>
                        <!-- button to open clock out modal-->
                        <button type="button" class="clockinbtn" data-toggle="modal" id="clockOut" data-target="#TimeOutModal">Clock Out</button>
                    </div>
                </div>

                //Time In Modal
                <div class="modal" id="TimeModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Clock In</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <h3 class="text-danger"> Clocking in at: <span id="currentTime"></span></h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-block" data-toggle="modal" data-target="#ClockInModal">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>

                //Time out Modal
                <div class="modal" id="TimeOutModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Clock Out</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <h3 class="text-danger"> Clocking out at: <span id="currentTime2"></span></h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ClockOutModal">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The Clock In Modal -->
                <div class="modal" id="ClockInModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="model-title">Clock In</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <textarea type="text" name="Message" class="form-control" id="clockin" style="min-width: 100%" rows="4" placeholder="This is a clock in note"></textarea>
                                   
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!-- redirects to Actions in WorkTimeEvent controller -->
                                <button type="submit" class="btn btn-danger" data-toggle="modal" formaction="@Url.Action("ClockIn", "WorkTimeEvent")" formmethod="post">Confirm</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The Clock Out Modal -->
                <div class="modal" id="ClockOutModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="model-title">Clock Out</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <textarea type="text" name="Message" class="form-control" id="clockout" style="min-width: 100%" rows="4" placeholder="This is a clock out note"></textarea>
                                    <br />
                                    @*This needs business logic still*@
                                    <select id="DropBreak" name="breakLength">
                                        <option value="null">Normal clock out</option>
                                        <option value="30"> 30 minute break</option>
                                        <option value="45"> 45 minute break</option>
                                        <option value="60"> 60 minute break</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!-- redirects to Actions in WorkTimeEvent controller -->
                                <button type="submit" class="btn btn-danger" data-toggle="modal" formaction="@Url.Action("ClockOut", "WorkTimeEvent")" formmethod="post">Confirm</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <h5 class="text-success">@TempData["Message"]</h5>
                <p>@Html.ActionLink("Register as a new user", "Register")</p>


                @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@


            }
        </section>
        
        @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
    </div>
</div>
   
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="~/Scripts/login/clockin.js"></script>

